@import "tailwindcss";

:root {
  --background: #f3f3f4;
  --foreground: #37323e;
  --accent: #6d6a75;
  --secondary: #5aaa95;
  --tertiary: #bb9f06;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-space-mono: var(--font-space-mono), Arial, Helvetica, sans-serif;
  --font-dm-sans: var(--font-dm-sans), monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-mono), Arial, Helvetica, sans-serif;
}

.control-section-header {
  @apply col-span-2 mb-3 text-base text-secondary;
}

.control-label {
  @apply text-sm font-medium;
}

.control-divider {
  @apply col-span-2 my-4 border-gray-400;
}

.canvas-button-group {
  @apply flex space-x-2 p-2 rounded;
  position: relative;
}
/* 
.canvas-button-group::before {
  content: attr(data-title);
  display: block;
  font-family: var(--font-space-mono), Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  color: var(--accent);
  letter-spacing: 0.04em;
  margin-bottom: 0.25rem;
  position: absolute;
  top: 0.25rem;
  left: 0.75rem;
  pointer-events: none;
  opacity: 0.85;
} */

input[type="color"] {
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
